@font-face {
	font-family: Akkordeon;
	src: url(../assets/fonts/Akkordeon-DEMO.otf);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	height: clamp(65px, 12vw, 93px);
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.header-container {
		width: 90%;
		max-width: 1280px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;

		.brand-icon img {
			width: clamp(45px, 10vw, 66px);
		}

		.hamburger-menu-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			border: none;
			background-color: transparent;
			cursor: pointer;

			height: 34px;
			width: 46px;

			transition: ease-in-out 0.15s;

			.hamburger-menu-icon {
				transition: ease-in-out 0.15s;
				color: black;
				font-size: clamp();
			}
		}

		.hamburger-menu-btn:hover {
			background-color: var(--button-black);

			.hamburger-menu-icon {
				color: white;
			}
		}
	}
}

.hero {
	width: 100%;
	min-height: 75vh;

	/* Chose to add background-image through css to make it easier to place text on top */
	background-image: url("../assets/hero.jpg");
	background-size: cover;
	background-position: 68% 15%;

	display: flex;
	justify-content: center;
	padding: 0 5.5vw;


	.hero-text-container {
		display: flex;
		flex-direction: column;
		justify-content: end;
		min-height: 100%;
		max-width: 1280px;
		margin: clamp(1rem, 2vw, 2rem) 0;
		flex: 1;
	}

	.hero-text-container p {
		font-family: Akkordeon;
		text-transform: uppercase;
		font-size: clamp(140px, 34vw, 400px);
		line-height: 0.8;
		color: var(--text-red);
	}
}

.carousel-conatiner {
	margin-top: clamp(6rem, 6vw, 8rem);
	width: 100%;

	.carousel {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		gap: 2rem;

		overflow-x: auto;

		.carousel-item {
			flex: 0 0 190px;
			margin: 0;

			.carousel-item-content {
				width: 90%;
				height: auto;
				display: block;
				object-fit: contain;
			}
		}

	}

	.carousel-btn-container {
		display: flex;
		justify-content: center;
		margin-top: 3rem;

		.carousel-btn {
			display: flex;
			border: none;
			background-color: var(--button-black);
			border-radius: 25px;

			a {
				font-family: var(--secondary-font);
				font-weight: 700;
				font-size: var(--button-font-size);
				padding: var(--button-padding);
				text-transform: uppercase;
				text-decoration: none;
				color: var(--text-white);
				line-height: 1;
				white-space: nowrap;
			}
		}

		.carousel-btn:hover {
			background-color: var(--hoover-red);
		}
	}

}

main {
	width: 90%;
	max-width: 1280px;
	margin: 0 5.5vw;

	.nocco-games-section {
		height: auto;
		margin-top: 6rem;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.nocco-games-section {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.nocco-games-section img {
		width: 100%;
		max-width: 1300px;
	}

	.news-section {
		margin-top: 2rem;

		.news-header {
			display: flex;
			justify-content: center;
			margin: min(7vw, 6rem) auto;

			font-family: Akkordeon;
			font-size: clamp(100px, 20vw, 200px);
			font-weight: 500;
			line-height: 1;
			text-transform: uppercase;
			text-wrap: wrap;
			text-align: center;

		}

		.news-list {
			display: grid;
			gap: 1rem;
			grid-template-columns: repeat(3, minmax(0, 1fr));

			li {
				list-style: none;
				display: flex;
				align-items: center;
				flex-direction: column;
				width: 100%;
			}

			.news-list-item-image {
				width: 100%;
				aspect-ratio: 3/4;
				object-fit: cover;
			}

			.news-list-item-header {
				width: 100%;
				padding-top: 1rem;

				font-family: var(--secondary-font);
				font-size: clamp(1.5rem, 1.5vw, 2rem);
				font-weight: 800;
				text-transform: uppercase;
				word-break: break-word;
				text-align: center;
			}

			.news-list-item-date {
				font-family: var(--secondary-font);
				font-size: clamp(16px, 2vw, 20px);
			}
		}

		.news-button-container {
			display: flex;

			button {
				margin: 2rem auto;
				padding: var(--button-padding);

				background-color: var(--button-black);
				border: none;
				border-radius: 50px;

				color: var(--text-white);
				font-family: var(--secondary-font);
				font-size: var(--button-font-size);
				font-weight: 700;
				text-transform: uppercase;
				line-height: 1;
				cursor: pointer;
			}

			button:hover {
				background-color: var(--hoover-red);
			}
		}

	}

	.performing-as-one-section {
		display: flex;
		margin: 4rem auto;
		flex-wrap: wrap;
	}

	.performing-as-one-section>img {
		object-fit: cover;
		aspect-ratio: 1;
		width: 50%;
	}

	.performing-as-one-box {
		background-color: red;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		object-fit: cover;
		aspect-ratio: 1;
		width: 50%;
	}

	.performing-as-one-text-img {
		width: 80%;
		max-width: 600px;
		height: auto;
	}

	.performing-as-one-text {
		font-family: Akkordeon;
		font-size: clamp(5px, 10vw, 30px);
		line-height: 1;
		text-align: center;
		color: var(--text-white);
		background-color: red;
		border: 2px solid white;
		border-radius: 50px;

		width: 50%;
		height: 8%;
	}
}

.for-all-performers-section {
	display: flex;
	gap: 5rem;

	h2 {
		font-weight: 500;
		font-size: 55px;
		font-family: Akkordeon;
	}

	p {
		font-size: clamp(14px, 1vw, 20px);
		line-height: 1.6;
		font-family: "Inter",sans-serif;
		font-weight: 300;
		padding-bottom: 30%;
		font-style: prettify;
	}
}

.for-all-performers-img img {
	aspect-ratio: 1;
	object-fit: cover;
	box-sizing: border-box;
	height: auto;
	max-width: 100%;
	vertical-align: bottom;
	padding-bottom: 10%;
	margin-right: auto;
}

.for-all-performers-text {
	max-width: 640px;
}


.footer {
	border-top: 1px solid black;
	width: 100%;
}

.footer-section {
	max-width: 1280px;
	width: 90%;
	padding: clamp(2rem, 10vw, 3rem) 0;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;

	.footer-text-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: clamp(2rem, 7vw, 4rem);

		div {
			display: flex;
			flex-direction: column;
			min-width: 130px;

			a,
			p {
				font-family: var(--secondary-font);
				font-weight: 700;
				line-height: 1.6;
			}
		}

		.footer-media,
		.footer-contact {
			a {
				font-size: clamp(14px, 10vw, 20px);
			}
		}

		.footer-policy,
		.footer-address {

			a,
			p {
				font-size: clamp(8px, 3vw, 12px);
				font-weight: 700;
			}
		}
	}
}

.footer-logo {
	align-self: start;
	padding-left: clamp(0.5rem, 5vw, 2rem);

}

.footer-logo img {
	width: clamp(50px, 13vw, 120px);

}

@media (max-width: 600px) {
	main .news-section .news-list {
		grid-template-columns: 1fr;

	}
}

@media (min-width: 782px) {

	main .performing-as-one-section {
		flex-wrap: nowrap;
		width: 100%;
	}
}

@media (max-width: 782px) {

	main .performing-as-one-section>img,
	main .performing-as-one-box {
		aspect-ratio: 4/3;
		width: 100%;
	}
}

@media (max-width: 600px) {

	main .performing-as-one-section>img,
	main .performing-as-one-box {
		aspect-ratio: 16/9;
		width: 100%;
	}
}

@media (max-width: 782px) {
	main .for-all-performers-section {
		flex-wrap: wrap;
	}
}