:root {
	--color-background-white: #ffff;
	--color-background-black: #000000;

	--color-text-red: #fe3001;
	--color-text-white: #ffff;
	--color-text-black: #000000;

	--color-button-black: #000000;

	--color-hoover-red: #fe3001;
}